:root {
  --colourPark: #ffffff;
  --colourDrive: #424242;
  --colourReverse: #424242;
  --colourNeutral: #424242;
}

html {
    font-family: Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
    background-color: black;
  }
  h1 {
    font-size: 2rem; 
    color: white;
  }
  p { 
    font-size: 1.4rem;
  }
  .topnav { 
    overflow: hidden; 
    background-color: #4F2683;
  }
  body {  
    margin: 0;
  }
  .content { 
    padding: 5%;
    background-color: black;
    
  }
  .card-grid { 
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .timer-container {
    background-color: black;
    height: auto;
  }  
  .timer-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ba78e6;
  }
  #timer-text {
    font-size: 6rem;
    text-align: center;
    color: white;
  }
  .timer_actions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 -0.3125rem;
  }
  .shifter { 
    margin: 0 auto;
    background-color: black;
  }
  .shifter-title { 
    font-size: 1.5rem;
    font-weight: bold;
    color: #ba78e6;
  }
  .shifter-text{
    display: flex;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: auto auto;
    color: white;
  }
  .shifter-p-text { 
    margin: 1.5rem auto;
    font-size: 2rem;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    text-align: center;

    color: var(--colourPark);
  }
  .shifter-r-text { 
    margin: 1.5rem auto;
    font-size: 2rem;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    text-align: center;

    color: var(--colourReverse);
  }
  .shifter-n-text { 
    margin: 1.5rem auto;
    font-size: 2rem;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    text-align: center;

    color: var(--colourNeutral);
  }
  .shifter-d-text { 
    margin: 1.5rem auto;
    font-size: 2rem;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    text-align: center;

    color: var(--colourDrive);
  }
  .card { 
    background-color: black;
  }
  .card-title { 
    font-size: 1.5rem;
    font-weight: bold;
    color: #ba78e6;
  }
  
  button {
    display: block;
    margin: 20px auto;
  }